<div class="container mt-5">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <div class="row">
        <div class="offset-sm-0 offset-md-1 col-12">
            <div class="page-header mb-5">
                <h1>Frequently Asked Questions</h1>
            </div>

            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn collapsed" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                Is my information safe in your app?
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            Yes. We do not give your information to any person using the app or anyother company or
                            party wishing to analyse the data we collect. All your data is saved in a database managed
                            by Azure App Services and the only ones who have access to the database is the Team at
                            Anoroc. Any Location points that you generate and we save are also deleted permantly from
                            the live system after 8(eight) days and also deleted from the backup databases in a maximum
                            of 30 days.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                                Will you sell my information?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            No. Your information does not leave our database once it is saved, and the only time we do
                            comparisons is if your Location points are carrier points, then we will compare a
                            non-carrier's points to detect risks. However, your information is not open to be fetched
                            from a public endpoint of our server and if you wish, you may become Anonymous in the app,
                            which detachs any personal information from any Location point that you generate.
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn collapsed" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                                How is this better from the government app?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            Anoroc is <a target="_blank" href="https://gdpr.eu/">GDPR</a> compliant, which means that
                            your data is safe with us and you have full control on how or when we collect the data that
                            we do.<br>Anoroc uses the Spatial Data Analysis to detect risks to users by using the
                            Location points generated by carriers and Cluster Analysis. This provides the capability to
                            protect a user as soon as they, for example; enter a Mall that has a hotspot of carriers.
                            Where the Alert SA App only uses bluetooth, which requires you to be on top of the carrier
                            for it to detect that you may be in danger, which is too late.<br>Anoroc allows users to see
                            the Clusters that we use in our analysis in the form of heatmaps, this allows for the user
                            to make their own dissions on their safety.<br>A user can use our Itinerary feature to check
                            their risk if they want to travel to mutiple public spaces, which is not offered on the
                            Alert SA App.
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h5 class="mb-0">
                            <button class="btn collapsed" data-toggle="collapse" data-target="#collapseFour"
                                aria-expanded="false" aria-controls="collapseFour">
                                Why when I deleted my account, Do I still have one to sign into your app with?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body">
                            Our user management system is all handled by the Azure B2C, which means that your login
                            information is managed by a secure and reputable service which can guarantee the security of
                            your detials. For this reason we can only delete the account information that we have of
                            you. Your details that we have are deleted and anything that you have done on our app is
                            deleted immediately. Then if you sign in again with your Azure B2C account that you made
                            originally to our system, it is as if you are a brand new person who has never used our app
                            before.
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingFive">
                        <h5 class="mb-0">
                            <button class="btn collapsed" data-toggle="collapse" data-target="#collapseFive"
                                aria-expanded="false" aria-controls="collapseFive">
                                Which companies are involved in Anoroc?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                        <div class="card-body">
                            The product owner of Anoroc is <a target="_blank"
                                href="https://www.agilebridge.co.za/">Agile Bridge</a>, who sponsored the hosting
                            services used and mentored the team that built the system. The system was build by
                            Code-Sum-Moar, a team of final year Computer Science students from the University of
                            Pretoria COS 301 module for their Capstone Project, where the lecturers mentored and asisted
                            the students. Find out more at <a target="_blank"
                                href="https://cos301-se-2020.github.io/">COS 301 - 2020 software engineering
                                projects</a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingSix">
                        <h5 class="mb-0">
                            <button class="btn collapsed" data-toggle="collapse" data-target="#collapseSix"
                                aria-expanded="false" aria-controls="collapseSix">
                                Contact us
                            </button>
                        </h5>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                        <div class="card-body">
                            <a style="
                                margin: 0;
                                border: 0;
                                text-decoration: none;
                                color: rgb(0, 0, 0);
                                font-size: 0.8em;
                                font-weight: bold;
                                font-family: sans-serif;
                                " href="mailto:code.sum.moar@gmail.com?subject = Feedback&body = Message">
                                Email us at code.sum.moar@gmail.com
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>