<div id="extrainfoholder">
    <div class="row">
        <div class="col-6 mr-5">
                <div class="card" id="clickheading" (click)="routePrivacy()">
                    <div class="row">
                        <div class="col-lg-5">
                            <img id="gdprpic" src="/assets/GDPR.1905.widea.0.jpg" alt="We Are GDPR Compliant">
                        </div>
                        <div class="offset-md-1 offset-lg-0 col-7" style=" margin: auto; width: 50%; padding: 10px;">
                            <h1>GDPR Compliant</h1>
                        </div>
                    </div>
            </div>
        </div>
        <div class="col-5 ml-1">
            <div class="card" id="downloadApp" (click)="downloadAppBtn()">
                <div class="row">
                    <div class="col-lg-3">
                        <img id="anorocpic" src="/assets/anoroc.png" alt="Anoroc">
                    </div>
                    <div class="col-lg-6 col-sm-7" style=" margin: auto; width: 50%; padding: 10px;">
                        <h1>Download App</h1>
                    </div>
                </div>
                </div>
        </div>
    </div>
</div>